<%= form_with(model: @post, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :body %><br />
    <%= form.text_area :body %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
